Django==5.2.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.8.0
django-filter==25.1
drf-spectacular==0.28.0
psycopg[binary]==3.2.10
Pillow==11.3.0
celery==5.5.3
redis==6.4.0
python-dotenv==1.1.1
gunicorn==23.0.0
